setuptools==33.1.1
wheel
flask==1.0.2
flask-session
flask-socketio
flask-helper==0.19
flask-caching
gunicorn==19.9
gevent
gevent-websocket
psutil
pillow
chardet
flask-sqlalchemy
ConfigParser
MySQL-python
# pytest-shutil