werkzeug==1.0.1
setuptools==33.1.1
wheel==0.33.6
flask==1.0.2
flask-session==0.3.2
flask-helper==0.19
cache==1.0.3
flask-caching==1.10.1
gunicorn==19.9
gevent==21.1.2
gevent-websocket==0.10.1
psutil==5.8.0
chardet==3.0.4
flask-sqlalchemy==2.3.2
cryptography==3.3.2
requests==2.20.0
ConfigParser==3.5.0
python-engineio==3.13.2
python-socketio==4.2.0
Flask-SocketIO==3.0.2
zmq==0.0.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mysqlclient==2.0.3
mysql-connector-python
# pytest-shutil