<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>{{data['title']}}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link href="/static/bootstrap-3.3.5/css/bootstrap.min.css?v={{config.version}}" rel="stylesheet">
    <link href="/static/css/site.css?v={{config.version}}" rel="stylesheet">
    <link href="/static/codemirror/lib/codemirror.css?v={{config.version}}" rel="stylesheet">
    <script src="/static/language/Simplified_Chinese/lan.js?v={{config.version}}"></script>
    <!--[if lte IE 9]>
		<script src="/static/js/requestAnimationFrame.js"></script>
	<![endif]-->
    <!-- 统计一下用户量,让我的开发更有激情 -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FC74BB2RGD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-FC74BB2RGD');
    </script>
</head>

<body>
    <div class="bt-warp bge6">
        <div id="container" class="container-fluid">
            <div class="sidebar-scroll">
                <div class="sidebar-auto">
                    <div id="task" class="task cw" onclick="messageBox();"></div>
                    <h3 class="mypcip"><span class="f14 cw">{{data['ip']}}</span></h3>
                    <ul class="menu">
                        <li id="memuA"> <a class="menu_home" href="/">首页</a></li>
                        <li id="memuAsite"><a class="menu_web" href="/site">网站</a></li>
                        <li id="memuAcontrol"><a class="menu_control" href="/control">监控</a></li>
                        <li id="memuAfirewall"><a class="menu_firewall" href="/firewall">安全</a></li>
                        <li id="memuAfiles"><a class="menu_folder" href="/files">文件</a></li>
                        <li id="memuAcrontab"><a class="menu_day" href="/crontab">计划任务</a></li>
                        <li id="memuAsoft"><a class="menu_soft" href="/soft">软件管理</a><span class="softnum">1</span></li>
                        <li id="memuAconfig"><a class="menu_set" href="/config">面板设置</a></li>
                        <li><a class="menu_exit" href="javascript:;" id="dologin">退出</a></li>
                    </ul>
                    <div id="newbtpc"></div>
                    <div class="btpc-plus" onclick="bindPanel(0,'b')">+</div>
                </div>
            </div>
            <button style="display: none;" id="bt_copys" class="bt_copy" data-clipboard-text=""></button>
            <link rel="stylesheet" href="/static/build/xterm.css?v={{config.version}}">
            <link rel="stylesheet" href="/static/build/addons/fullscreen/fullscreen.css?v={{config.version}}">
            <script src="/static/js/jquery-1.10.2.min.js?v={{config.version}}"></script>
            <script src="/static/js/bootstrap.min.js?v={{config.version}}"></script>
            <script src="/static/layer/layer.js?v={{config.version}}"></script>
            <script src="/static/js/jquery.fly.min.js?v={{config.version}}"></script>
            <script src="/static/js/clipboard.min.js?v={{config.version}}"></script>
            <script src="/static/build/xterm.js?v={{config.version}}"></script>
            <script src="/static/build/addons/attach/attach.js?v={{config.version}}"></script>
            <script src="/static/build/addons/fit/fit.js?v={{config.version}}"></script>
            <script src="/static/build/addons/fullscreen/fullscreen.js?v={{config.version}}"></script>
            <script src="/static/js/socket.io.min.js?v={{config.version}}"></script>
            <script src="/static/build/addons/winptyCompat/winptyCompat.js?v={{config.version}}"></script>
            <script src="/static/app/upload.js?v={{config.version}}"></script>
            <script src="/static/app/public.js?v={{config.version}}"></script>
            <script src="/static/js/echarts.min.js?v={{config.version}}"></script>
            <script src="/static/js/jquery.dragsort-0.5.2.min.js?v={{config.version}}"></script>
            
            {% block content %}{% endblock %}
            <div class="footer bgw">mdserver-web &copy;2018-∞ 面板 (<a style="color:#20a53a;" target="_blank" href="//github.com/midoks/mdserver-web">源码</a>)<a style="margin-left:20px;color:#20a53a;" href="//github.com/midoks/mdserver-web/wiki" target="_blank">wiki</a>
        </div>
    </div>
    </div>
</body>

<script src="/static/codemirror/lib/codemirror.js?v={{config.version}}"></script>
<script src="/static/codemirror/addon/edit/editAll.js?v={{config.version}}"></script>
<script src="/static/codemirror/mode/modeAll.js?v={{config.version}}"></script>
<script src="/static/codemirror/addon/dialog/dialog.js?v={{config.version}}"></script>
<script src="/static/codemirror/addon/search/search.js?v={{config.version}}"></script>
<script src="/static/codemirror/addon/scroll/annotatescrollbar.js?v={{config.version}}"></script>
<script src="/static/laydate/laydate.js?v={{config.version}}"></script>

</html>