$def with (tData)
<div class="main-content pb55">
	<div class="container-fluid">
		<div class="pos-box bgw mtb15">
			<div class="position f14 c9 pull-left">
				<a class="plr10 c4" href="/">$tData['lan']['H1']</a>/<span class="plr10 c4">$tData['lan']['H2']</span>
			</div>
			<div class="search pull-right">
				<form target="hid" onsubmit='getFtp(1,$$("#SearchValue").prop("value"))'>
					<input type="text" id="SearchValue" class="ser-text pull-left" placeholder="$tData['lan']['SEARCH']" />
					<button type="button" class="ser-sub pull-left" onclick='getFtp(1,$$("#SearchValue").prop("value"))'></button>
				</form>
				<iframe name='hid' id="hid" style="display:none"></iframe>
			</div>
		</div>
		<div class="safe bgw mtb15 pd15">
			<div class="important-title">
				<p><span class="glyphicon glyphicon-alert" style="color: #f39c12; margin-right: 10px;"></span> $tData['lan']['PS'] ftp://$web.ctx.session.address:$web.ctx.session.port</p>
			</div>
			<button onclick="ftpAdd()" class="btn btn-success btn-sm" type="button">$tData['lan']['BTN1']</button>
			<button onclick="ftpPortEdit($web.ctx.session.port)" class="btn btn-default btn-sm" type="button" style="margin-left:5px">$tData['lan']['BTN2']</button>
			<span id="allDelete" style="float: right;display: none;">
				<button onclick="allDeleteFtp();" class="btn btn-default btn-sm">$tData['lan']['BTN3']</button>
			</span>
			<div class="divtable mtb10">
				<div class="tablescroll">
				<table class="table table-hover" style="min-width: 900px;border: 0 none;">
					<thead>
					<tr>
						<th width='30'><input type="checkbox" onclick="checkSelect();" id="setBox"></th>
                        <th onclick="listOrder('name','ftp',this)" style="cursor: pointer;">$tData['lan']['TH1']<span class="glyphicon glyphicon-triangle-top" style="margin-left:5px;color:#bbb"></span></th>
                        <th width="15%">$tData['lan']['TH2']</th>
                        <th onclick="listOrder('status','ftp',this)" style="cursor: pointer;" width="100">$tData['lan']['TH3']<span class="glyphicon glyphicon-triangle-top" style="margin-left:5px;color:#bbb"></span></th>
                        <th width="26%">$tData['lan']['TH4']</th>
                        <th width="15%">$tData['lan']['TH5']</th>
                        <th width="130" class="text-right">$tData['lan']['TH6']</th>
					</tr>
					</thead>
					<tbody id="ftpBody"></tbody>
				</table>
				</div>
				<div class="dataTables_paginate paging_bootstrap pagination">
					<ul id="ftpPage" class="page"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/static/js/ftp.js?date=20180725"></script>
<script type="text/javascript">
	$if not tData['isSetup']:
		layer.msg('$tData["lan"]["JS1"]<a href="/soft" style="color:#20a53a; float: right;">$tData["lan"]["JS1"]</a>',{icon:7,time:0,shade: [0.3, '#000']});
		$$(".layui-layer-shade").css("margin-left","180px");
	setTimeout(function(){
		getFtp(1);
	},300);
</script>