{% extends "default/layout.html" %}

{% block content %}

<div class="main-content pb55">
			<div class="container-fluid">
				<div class="pos-box bgw mtb15">
					<div class="position f14 c9 pull-left">
							<a class="plr10 c4" href="/">首页</a>/<span class="plr10 c4">网站</span>
						</div>
					<div class="search pull-right">
						<form target="hid" onsubmit='getWeb(1,$("#SearchValue").prop("value"))'>
							<input type="text" id="SearchValue" class="ser-text pull-left" placeholder="网站搜索"/>
							<button type="button" class="ser-sub pull-left" onclick='getWeb(1,$("#SearchValue").prop("value"))'></button>
						</form>
						<iframe name='hid' id="hid" style="display:none"></iframe>
					</div>
				</div>
				<div class="safe bgw mtb15 pd15">
					<div class="info-title-tips">
						<p><span class="glyphicon glyphicon-alert" style="color:#f39c12; margin-right:10px;"></span>使用mdserver-web|linux面板创建站点时会自动创建权限配置，统一使用www用户。</p>
					</div>
					<button onclick="webAdd(0)" class="btn btn-success btn-sm btn-title" type="button">添加站点</button>&nbsp;
					<button onclick="SiteDefaultPage()" class="btn btn-default btn-sm btn-title" type="button">修改默认页</button>
					<button onclick="GetDefaultSite()" class="btn btn-default btn-sm btn-title" type="button">默认站点</button>
					<span id="allDelete" style="float: right;display: none;">
						<button onclick="allDeleteSite();" class="btn btn-default btn-sm">网站搜索</button>
					</span>
					<div class="divtable mtb10">
						<div class="tablescroll">
						<table class="table table-hover" style="min-width: 900px;border: 0 none;">
							<thead>
								<tr>
									<th width="30"><input type="checkbox" onclick="checkSelect();" id="setBox"></th>
									<th width="150" onclick="listOrder('name','site',this)" style="cursor: pointer;">域名<span class="glyphicon glyphicon-triangle-top" style="margin-left:5px;color:#bbb"></span></th>
									<th onclick="listOrder('status','site',this)" style="cursor: pointer;" width="98">网站状态<span class="glyphicon glyphicon-triangle-top" style="margin-left:5px;color:#bbb"></span></th>
									<th width="58">备份</th>
									<th width="26%">网站目录</th>
									<th onclick="listOrder('edate','site',this)" style="cursor: pointer;" width="86">到期日期<span class="glyphicon glyphicon-triangle-top" style="margin-left:5px;color:#bbb"></span></th>
									<th>备注</th>
									<th>防火墙</th>
									<th width='130' class='text-right'>操作</th>
								</tr>
							</thead>
							<tbody id="webBody"></tbody>
						</table>
						</div>
						<div class="dataTables_paginate paging_bootstrap pagination">
							<ul id="webPage" class="page"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<script type="text/javascript" src="/static/laydate/laydate.js?v={{config.version}}"></script>
		<script type="text/javascript" src="/static/js/ftp.js?v={{config.version}}"></script>
		<script type="text/javascript" src="/static/js/site.js?v={{config.version}}"></script>
		<script type="text/javascript">
		// $if not tData['isSetup']:
		// layer.msg('$tData["lan"]["JS1"]<a href="/soft" style="color:#20a53a; float: right;">$tData["lan"]["JS2"]</a>',{icon:7,shade: [0.3, '#000'],time:0});
		// $(".layui-layer-shade").css("margin-left","180px");
		
		setTimeout(function(){
			getWeb(1);
		},500);
		
		setCookie('serverType','$web.ctx.session.webserver');
	</script>
{% endblock %}