$def with (data)
<div class="main-content">
		<div class="container-fluid" style="padding-bottom:54px">
			<div class="pos-box bgw mtb15">
				<div class="position f14 c9 pull-left">
					<a class="plr10 c4" href="/">$data['lan']['H1']</a>/<span class="plr10 c4">$data['lan']['H2']</span>
				</div>
				<div class="search pull-right">
					<form target="hid" onsubmit='GetSList()'>
						<input type="text" id="SearchValue" class="ser-text pull-left" placeholder="search" />
						<button type="button" class="ser-sub pull-left" onclick='GetSList()'></button>
					</form>
					<iframe name='hid' id="hid" style="display:none"></iframe>
				</div>
			</div>
			<div class="softbox bgw mtb15">
				<div class="softlist">
					<div class="divtable pd15 relative">
						<div class="menu-sub softtype">
						</div>
						<button class="btn btn-default btn-sm" onclick="flush_cache()" title="从云端更新列表" style="position:absolute;top:12px;right:15px">更新软件列表</button>
						<div id="updata_pro_info"></div>
						<table class="table table-hover" width="100%" cellspacing="0" cellpadding="0" border="0">
							<thead>
								<tr>
									<th width="165">$data['lan']['TH1']</th>
									<th>$data['lan']['TH3']</th>
									<th class="text-center" width="92">价格</th>
									<th class="text-center" width="120">到期时间</th>
									<th width="40">$data['lan']['TH4']</th>
									<th width="40">$data['lan']['TH5']</th>
									<th width="64">$data['lan']['TH6']</th>
									<th style="text-align: right;" width="120">$data['lan']['TH7']</th>
								</tr>
							</thead>
							<tbody id="softList"></tbody>
						</table>
						<div class="dataTables_paginate paging_bootstrap pagination">
							<ul id="softPage" class="page"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/js/jquery.dragsort-0.5.2.min.js"></script>
<script type="text/javascript" src="/static/js/soft.js?date=20180815"></script>
<script type="text/javascript" src="/static/laydate/laydate.js?date=20180301"></script>
<script>
setCookie('serverType','$web.ctx.session.webserver');
//取软件列表
GetSList();
$$.get("/ajax?action=GetCloudHtml&rpath=btpanel_message/updata_pro.html",function(rdata){
	$$("#updata_pro_info").html(rdata);
});
</script>