$def with (content)
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>$web.ctx.session.webname</title>
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
		<link href="/static/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/site.css?date=20180912" rel="stylesheet">
		<link href="/static/codemirror/lib/codemirror.css" rel="stylesheet">
		<!--[if lte IE 9]>
		<script src="/static/js/requestAnimationFrame.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="bt-warp bge6">
			<div id="container" class="container-fluid">
				<div class="sidebar-scroll">
					<div class="sidebar-auto">
						<div id="task" class="task cw" onclick="messagebox()"></div>
						<h3 class="mypcip"><span class="f14 cw">$web.ctx.session.address</span></h3>
						<ul class="menu">
							<li id="memuA"> <a class="menu_home" href="/">$web.ctx.session['menu']['M1']</a></li>
							<li id="memuAsite"><a class="menu_web" href="/site">$web.ctx.session['menu']['M2']</a></li>
							<li id="memuAftp"><a class="menu_ftp" href="/ftp">$web.ctx.session['menu']['M3']</a></li>
							<li id="memuAdatabase"><a class="menu_data" href="/database">$web.ctx.session['menu']['M4']</a></li>
							<li id="memuAcontrol"><a class="menu_control" href="/control">$web.ctx.session['menu']['M5']</a></li>
							<li id="memuAfirewall"><a class="menu_firewall" href="/firewall">$web.ctx.session['menu']['M6']</a></li>
							<li id="memuAfiles"><a class="menu_folder" href="/files">$web.ctx.session['menu']['M7']</a></li>
							<li id="memuAcrontab"><a class="menu_day" href="/crontab">$web.ctx.session['menu']['M8']</a></li>
							<li id="memuAsoft"><a class="menu_soft" href="/soft">$web.ctx.session['menu']['M9']</a><span class="softnum">1</span></li>
							<li id="memuAconfig"><a class="menu_set" href="/config">$web.ctx.session['menu']['M10']</a></li>
							<li><a class="menu_exit" href="javascript:;" id="dologin">$web.ctx.session['menu']['M11']</a></li>
						</ul>
						<div id="newbtpc"></div>
						<div class="btpc-plus" onclick="bindBTPanel(0,'b')">+</div>
					</div>
				</div>
				<button style="display: none;" id="bt_copys" class="bt_copy" data-clipboard-text=""></button>
				<a style="display: none;" id="defaultPath">$web.ctx.session.config['sites_path']</a>
				<script src="/static/js/jquery-1.10.2.min.js"></script>
				<script src="/static/js/bootstrap.min.js"></script>
				<script src="/static/language/$web.ctx.session.lan/lan.js?date=20180124"></script>
				<script src="/static/layer/layer.js?date=20180301"></script>
				<script src="/static/js/jquery.fly.min.js"></script>
				<script src="/static/js/clipboard.min.js"></script>
				<script src="/static/js/public.js?date=20180620"></script>
				$:content
				<div class="footer bgw">$web.ctx.session.brand$web.ctx.session.product &copy;2014-2018  宝塔 (bt.cn)<a style="margin-left:20px;color:#20a53a;" href="http://www.bt.cn/bbs" target="_blank">$web.ctx.session['menu']['HELP']</a><a style="margin-left:20px;color:#20a53a;" href="http://docs.bt.cn/424204" target="_blank">《使用手册》</a></div></div>
			</div>
		</div>
	</body>
	<script src="/static/codemirror/lib/codemirror.js"></script>
	<script src="/static/codemirror/addon/edit/editAll.js"></script>
	<script src="/static/codemirror/mode/modeAll.js"></script>
	<script src="/static/codemirror/addon/dialog/dialog.js"></script>
	<script src="/static/codemirror/addon/search/search.js"></script>
	<script src="/static/codemirror/addon/scroll/annotatescrollbar.js"></script>
	<script src="/static/js/jquery.qrcode.min.js"></script>
	<script src="/static/laydate/laydate.js?date=20180301"></script>
	
	<script type="text/javascript">
		$$("#setBox").click(function() {
			if($$(this).prop("checked")){
				$$("input[name=id]").prop("checked", true)
			}else{
				$$("input[name=id]").prop("checked", false)
			}
		});
		setCookie('order','id desc');
	</script>
</html>