<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<title>{{data['title']}}</title>
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
<link href="/static/bootstrap-3.3.5/css/bootstrap.min.css?v={{config.version}}" rel="stylesheet">
<link href="/static/css/site.css?v={{config.version}}" rel="stylesheet">
<link href="/static/codemirror/lib/codemirror.css?v={{config.version}}" rel="stylesheet">
<script src="/static/language/Simplified_Chinese/lan.js?v={{config.version}}"></script>
<!--[if lte IE 9]>
	<script src="/static/js/requestAnimationFrame.js"></script>
<![endif]-->


{% for menu in data['hook_menu'] %}
{% if menu['css_path'] and data['hook_tag'] == menu['name'] %}
<!-- 加载插件css -->
<link href="/plugins/file?name={{menu['name']}}&v={{config.version}}&f={{menu['css_path']}}" rel="stylesheet" />
{% endif %}
{% endfor %}

<!-- 全局静态HOOK -->
{% for menu in data['hook_global_static'] %}
{% if menu['css_path'] %}
<link href="/plugins/file?name={{menu['name']}}&v={{config.version}}&f={{menu['css_path']}}" rel="stylesheet" />
{% endif %}
{% endfor %}
</head>

<body>
    <div class="bt-warp bge6">
        <div id="container" class="container-fluid">
            <div class="sidebar-scroll">
                <div class="sidebar-auto">
                    <div id="task" class="task cw" onclick="messageBox();"></div>
                    <h3 class="mypcip"><span class="f14 cw">{{data['ip']}}</span></h3>
                    <ul class="menu">
                        <li id="memuA"><a class="menu_home" href="/">首页</a></li>
                        <li id="memuAsite"><a class="menu_web" href="/site">网站</a></li>
                        <li id="memuAcontrol"><a class="menu_control" href="/control">监控</a></li>
                        <li id="memuAfirewall"><a class="menu_firewall" href="/firewall">安全</a></li>
                        <li id="memuAfiles"><a class="menu_folder" href="/files">文件</a></li>
                        <li id="memuAlogs"><a class="menu_logs" href="/logs">日志</a></li>                        
                        <li id="memuAcrontab"><a class="menu_day" href="/crontab">计划任务</a></li>
                        <!-- 插件设置的菜单 -->
                        {% for menu in data['hook_menu'] %}
                        <li id="memuAplugins_{{menu['name']}}">
                            <a class="menu_plugin_{{menu['name']}}" href="/plugins/menu?tag={{menu['name']}}">{{menu['title']}}</a>
                        </li>
                        {% endfor %}
                        <li id="memuAsoft"><a class="menu_soft" href="/soft">软件管理</a><span class="softnum">1</span></li>
                        <li id="memuAconfig"><a class="menu_set" href="/config">面板设置</a></li>
                        <li><a class="menu_exit" href="javascript:;" id="signout">退出</a></li>
                    </ul>
                    <div id="newbtpc"></div>
                    <div class="btpc-plus" onclick="bindPanel(0,'b')">+</div>
                </div>
            </div>
            <button style="display: none;" id="mw_copys" class="mw_copy" data-clipboard-text=""></button>
            <link rel="stylesheet" href="/static/build/xterm.css?v={{config.version}}">
            <link rel="stylesheet" href="/static/build/addons/fullscreen/fullscreen.css?v={{config.version}}">
            <script src="/static/js/jquery-1.10.2.min.js"></script>
            <script src="/static/js/jquery.cookie-1.4.1.min.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>
            <script src="/static/layer/layer.js"></script>
            <script src="/static/js/jquery.fly.min.js"></script>
            <script src="/static/js/clipboard.min.js"></script>
            <script src="/static/build/xterm.js"></script>
            <script src="/static/build/addons/attach/attach.js"></script>
            <script src="/static/build/addons/fit/fit.js"></script>
            <script src="/static/build/addons/fullscreen/fullscreen.js"></script>
            <script src="/static/js/socket.io.min.js"></script>
            <script src="/static/build/addons/winptyCompat/winptyCompat.js"></script>
            <script src="/static/js/term-websocketio.js"></script>
            <script src="/static/app/upload.js?v={{config.version}}"></script>
            <script src="/static/app/public.js?v={{config.version}}"></script>
            <script src="/static/js/echarts.min.js"></script>
            <!-- <script src="//cdn.jsdelivr.net/gh/midoks/mdserver-web@latest/route/static/js/echarts.min.js"></script> -->
            <!-- <script src="//unpkg.com/echarts@5.4.3/dist/echarts.min.js"></script> -->
            
            <script src="/static/js/jquery.dragsort-0.5.2.min.js"></script>
            <script src="/static/js/jquery-qrcode-0.18.0.min.js?v={{config.version}}"></script>
            <script src="/static/js/xm-select.js"></script>
            
            {% block content %}{% endblock %}
            <div class="footer bgw">mdserver-web &copy;2018-∞ Linux面板 (<a class="btlink" target="_blank" href="//github.com/midoks/mdserver-web">源码</a>) <span style="margin-left:5px;">/</span>
                <a class="btlink" target="_blank" style="margin-left:5px;" href="//github.com/midoks/mdserver-web/wiki">WIKI</a><span style="margin-left:5px;">/</span>
                <a class='btlink panel_ad_list_mode' style="margin-left:5px;">AD</a>
                <span style="margin-left:5px;">/</span>
                <a class='btlink' target="_blank" href="https://bbs.midoks.icu" style="margin-left:5px;">交流论坛</a>
                <span style="margin-left:5px;">/</span>
                <a class='btlink' target="_blank" href="https://t.me/mdserver_web" style="margin-left:5px;">TG吹水群</a>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">

(function ($) {
    $.getUrlParam = function (name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }
})(jQuery);

function showAd(){
    layer.open({
        type: 1
        ,title: "【AD】求恰饭"
        ,closeBtn: 1
        ,area: '300px;'
        ,shade: 0.8
        ,id: 'panel_ad_list_mode'
        ,btnAlign: 'c'
        ,moveType: 1
        ,content: '<div style="padding: 10px; line-height: 22px; font-weight: 300;">\
                <table class="table table-hover">\
                    <thead><tr><td style="text-align: center;">商家</td><td style="text-align: center;">优惠码</td><tr></thead>\
                    <tbody>\
                        <tr><td><a target="_blank" href="https://digitalvirt.com/aff.php?aff=154"><img src="https://digitalvirt.com/templates/BlueWhite/img/logo-dark.svg"/></a></td><td>mdserver-web</td></tr>\
                    </tbody>\
                </table>\
        </div>'
        ,success: function(layero){
        }
    });
}

$('.panel_ad_list_mode').click(function(){
    showAd();
});


function getUrlPath(){
    var thisUrl = window.location.href;
    var pathArr = thisUrl.split('/');
    return pathArr[pathArr.length - 1];
}
var thisPath = getUrlPath();
if (thisPath.indexOf('?')>-1){
    var tag = $.getUrlParam('tag');
    if(tag != undefined){
        $('#memuAplugins_'+tag).css('background-color','#2c3138');
    } else {
        $('#memuA').css('background-color','#f2f2f2');
    }
} else{
    if(thisPath != undefined){
        $('#memuA'+thisPath).css('background-color','#2c3138');
    } else {
        $('#memuA').css('background-color','#f2f2f2');
    }
}
</script>
<script src="/static/codemirror/lib/codemirror.js?v={{config.version}}"></script>
<script src="/static/codemirror/addon/edit/editAll.js?v={{config.version}}"></script>
<script src="/static/codemirror/mode/modeAll.js?v={{config.version}}"></script>
<script src="/static/codemirror/addon/dialog/dialog.js?v={{config.version}}"></script>
<script src="/static/codemirror/addon/search/search.js?v={{config.version}}"></script>
<script src="/static/codemirror/addon/scroll/annotatescrollbar.js?v={{config.version}}"></script>
<script src="/static/laydate/laydate.js?v={{config.version}}"></script>

{% for menu in data['hook_menu'] %}
{% if menu['js_path'] and data['hook_tag'] == menu['name'] %}
<script src="/plugins/file?name={{menu['name']}}&f={{menu['js_path']}}&v={{config.version}}"></script>
{% endif %}
{% endfor %}

<!-- 全局静态HOOK -->
{% for menu in data['hook_global_static'] %}
{% if menu['js_path'] %}
<script src="/plugins/file?name={{menu['name']}}&f={{menu['js_path']}}&v={{config.version}}"></script>
{% endif %}
{% endfor %}


<!-- 统计一下用户量,让我的开发更有激情 -->
<script type="text/javascript">
$(document).ready(function(){
    setTimeout(function(){
        $.getScript('https://www.googletagmanager.com/gtag/js?id=G-FC74BB2RGD', function(){
            console.log("load google ad!");
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-FC74BB2RGD');
        });
    },3000);
});

</script>

<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-FC74BB2RGD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-FC74BB2RGD');
</script> -->

</html>