
<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
<title>{{data['title']}}</title>
<script type="text/javascript">
(function () {
    function hexToRgbTriplet(color) {
        if (!color) {
            return null;
        }

        var value = String(color).trim().replace(/^#/, '');
        if (value.length === 3) {
            value = value.split('').map(function (ch) {
                return ch + ch;
            }).join('');
        }

        if (value.length !== 6) {
            return null;
        }

        var red = parseInt(value.slice(0, 2), 16);
        var green = parseInt(value.slice(2, 4), 16);
        var blue = parseInt(value.slice(4, 6), 16);
        if (isNaN(red) || isNaN(green) || isNaN(blue)) {
            return null;
        }

        return red + ', ' + green + ', ' + blue;
    }

    try {
        var root = document.documentElement;
        var mode = window.localStorage.getItem('mw-theme-mode');
        if (mode !== 'light' && mode !== 'dark' && mode !== 'auto') {
            mode = 'auto';
        }
        root.classList.remove('mdui-theme-light', 'mdui-theme-dark', 'mdui-theme-auto');
        root.classList.add('mdui-theme-' + mode);

        var color = window.localStorage.getItem('mw-color-scheme');
        if (color) {
            root.style.setProperty('--mw-theme-primary', color);
            var colorRgb = hexToRgbTriplet(color);
            if (colorRgb) {
                root.style.setProperty('--mw-theme-primary-rgb', colorRgb);
            }
        }

        var background = window.localStorage.getItem('mw-theme-background');
        if (background) {
            root.style.setProperty('--mw-app-background-image', background);
        }

        var backgroundMode = window.localStorage.getItem('mw-theme-background-mode');
        if (backgroundMode !== 'plain') {
            backgroundMode = 'default';
        }
        if (backgroundMode === 'plain') {
            root.style.setProperty('--mw-app-background-overlay', 'none');
        } else {
            root.style.removeProperty('--mw-app-background-overlay');
        }
    } catch (error) {}
})();
</script>
<link href="/static/css/material-icons.css?v={{config.version}}" rel="stylesheet">
<link href="/static/vendor/mdui/mdui.css?v={{config.version}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/layer/skin/default/layer.css?v={{config.version}}">
<link rel="stylesheet" type="text/css" href="/static/css/site.css?v={{config.version}}">
<link rel="stylesheet" type="text/css" href="/static/css/mdui2-theme.css?v={{config.version}}">
<link rel="stylesheet" type="text/css" href="/static/css/login.css?v={{config.version}}">
</head>
<body class="mw-login">
<main class="mw-login-layout">
	<mdui-card class="mw-login-card">
		<div class="mw-login-brand">
			<span class="material-icons">shield</span>
			<h1>{{data['title']}}</h1>
			<p>欢迎回来，请登录继续管理你的服务器。</p>
		</div>
		<form class="mw-login-form" method="post" action="/login" onsubmit="return false;">
			<label class="mw-field">
				<span>账户</span>
				<input class="mw-input" value="" name="username" datatype="*" nullmsg="请填写账户" errormsg="请填写账户" placeholder="请输入账户" type="text" autocomplete="on">
				<div class="Validform_checktip"></div>
			</label>
			<label class="mw-field">
				<span>密码</span>
				<input class="mw-input" name="password" value="" datatype="*" nullmsg="请填写密码" errormsg="请填写密码" placeholder="请输入密码" type="password">
				<div class="Validform_checktip"></div>
			</label>
			<div class="mw-error" id="error"></div>
			<div class="mw-field mw-captcha" style="{% if not session['code'] %}display:none;{% endif %}">
				<span>验证码</span>
				<div class="mw-captcha-row">
					<input type="text" class="mw-input" name="code" nullmsg="请填写4位验证码" errormsg="验证码" datatype="*" placeholder="输入验证码">
					<div id='mw_yzm'>{% if session['code'] %}<img width="100" height="40" class="passcode" onclick="this.src=this.src.split('?')[0] + '?'+new Date().getTime()" src="/code" title="" >{% endif %}</div>
				</div>
				<div class="Validform_checktip"></div>
			</div>
			<mdui-button class="mw-login-submit" id="login-button" variant="filled" type="submit">登录</mdui-button>
			<p class="pwinfo" style="display:none"></p>
			<mdui-button class="mw-login-link" variant="text" href="//github.com/midoks/mdserver-web/wiki/%E5%AF%86%E7%A0%81%E4%BF%AE%E6%94%B9" target="_blank">忘记密码</mdui-button>
		</form>
	</mdui-card>
</main>
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js?v={{config.version}}"></script>
<script src="/static/language/zh-cn.js?v={{config.version}}"></script>
<script src="/static/language/Simplified_Chinese/lan.js?v={{config.version}}"></script>
<script src="/static/vendor/mdui/mdui.global.js?v={{config.version}}"></script>
<script src="/static/app/theme.js?v={{config.version}}"></script>
<script type="text/javascript">
if (window.MWTheme && typeof window.MWTheme.init === 'function') {
	window.MWTheme.init();
}
</script>
<script type="text/javascript" src="/static/layer/layer.js?v={{config.version}}"></script>
<script type="text/javascript" src="/static/js/Validform_v5.3.2_min.js?v={{config.version}}"></script>
<script type="text/javascript">
$(function(){
	$(".mw-login-form").Validform({
		tiptype:function(msg,o,cssctl){
			if(!o.obj.is("form")){
				var objtip=o.obj.siblings(".Validform_checktip");
				cssctl(objtip,o.type);
				objtip.text(msg);
			}
		}
	});
});

$('#login-button').click(function(){
	var username = encodeURIComponent($("input[name='username']").val());
	var password = encodeURIComponent($("input[name='password']").val());
	var code = $("input[name='code']").val();
	if(username == '' || password == ''){
		layer.msg("表单错误,请重新输入!",{icon:2});
		return;
	}
			
	var data = 'username='+username+'&password='+password+'&code='+code;
	var loadT = layer.msg("正在登录中...",{icon:16,time:0,shade: [0.3, '#000']});
	$.post('/do_login',data,function(rdata){
		// console.log('do_login',rdata);
		layer.close(loadT);
		if(!rdata.status || rdata.status < 0){
			if(username == 'admin' && rdata.msg.indexOf('用户名') != -1){
				rdata.msg += ', <br>获取默认用户和密码命令： mw default';
			}
			$("#error").html(rdata.msg);
			$("input[name='password']").val('');
			num = rdata.msg.substring(rdata.msg.indexOf('[')+1,rdata.msg.indexOf(']'))
			if(num < 5){
				var code_html = '<img width="100" height="40" class="passcode" onClick="this.src=this.src.split(\'?\')[0] + \'?\'+new Date().getTime()" src="/code" style="border: 1px solid #ccc; float: right;">';
				$('#mw_yzm').html(code_html);
				// $(".login").css("height","332px");
				$("input[name='code']").val('');
				$(".passcode").click();
			}
			$(".mw-captcha").show();
			layer.msg(rdata.msg,{icon:2,time:5000});
			return;
		}

		if (rdata.status == 2){
			layer.prompt({
			 	formType: 3,
			 	value: '',
			 	title: '二步验证',
			}, function(value, index, elem){
			 	$.post('/verify_login',{'auth':value,'username':username,'password':password},function(vdata){
			 		if (vdata.status < 0){
			 			layer.msg(vdata.msg,{icon:2,time:5000});
			 			return;
			 		}

			 		layer.close(index);
			 		window.location.href = '/';	
			 	},'json');
			  	
			});
			return;
		}
		
		layer.msg(rdata.msg,{icon:16,time:0,shade: [0.3, '#000']});
		window.location.href = '/';	
	},'json');
});

</script>
</body>
</html>
