[Unit]
Description=supervisor server daemon
After=network.target

[Service]
Type=forking
ExecStart={$SUP_BIN} -c {$SERVER_PATH}/supervisor/supervisor.conf
ExecStop=kill -s TERM $MAINPID
ExecReload=kill -s HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target